body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(69, 54, 54);
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    min-height: 60px;
    width: 100%;
    background-color: red;
    border-top: 1px solid black !important;
    position: absolute;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}