{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="shortcut icon" href="#">

    {% endblock %}
</head>

<body>
    {% block content%}
    <div id="cards">
        <div class="container text-center "style="border:15px solid white;">
            <h4 class="text-center" style="font-weight: 700; font-size:35pt; color:white; padding-top:2em;">NEWS BULLETIN</h4>
            <h3 style="font-weight: bold; color:white; font-size:20pt; margin: auto;">Entertainment</h3>
            <hr>

            {{ macro.displaySourceList(entertainment_sources)}}

            <h3 style="font-weight: 700; color:white; font-size:20pt; margin: auto;">Technology</h3>
            <hr>

            {{ macro.displaySourceList(technology_sources)}}

            

            <h3 style="font-weight: 700; color:white; font-size:20pt; margin: auto;">Sports</h3>
            <hr>

            {{ macro.displaySourceList(sports_sources)}}

            <h3 style="font-weight: 700; color:white; font-size:20pt; color: red;width: 350px;margin: auto;">Business</h3>
            <hr>

            {{ macro.displaySourceList(sources)}}

        </div>
    </div>


    {%endblock%}

</body>

</html>