<div class="navbar navbar-inverse navbar-fixed-top" role="navigation"style="padding: 0.5%;">
    <div class="container d-flex">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 24pt;"> <span style="color: rgb(224, 64, 189);">News</span><span style="color: red;">Today</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" >
                <li><a href="/" style="font-size: 20pt; margin-left: 32em;color:rgb(224, 64, 189); font-weight: bold;">Home</a></li>
        </div>

    </div>
</div>